body{
    font-family: 'Poppins', sans-serif;
}
.name_hhh {
   color: #45B39D;
}
.half_width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half_width img{
    width: 100%;
    border-radius: 70%;
}